.wrapper {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.areaTitle {
  display: flex;
  flex-direction: column;
}

.areaName {
  font-size: 0.875rem;
  letter-spacing: 1.5px;

  @media only screen and (min-width: 1024px) {
    font-size: 1.25rem;
    letter-spacing: 0.5px;
  }
}

.currentTemp {
  @media only screen and (min-width: 1024px) {
    font-size: 2.25rem;
    letter-spacing: 1px;
  }
}

.areaLocation {
  order: -9999;
  font-size: var(--text-xs);
  color: var(--color-neutral-300);

  @media only screen and (min-width: 1024px) {
    font-size: var(--text-sm);
  }
}

.highLowWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.highLowText {
  font-size: var(--text-xs);

  @media only screen and (min-width: 1024px) {
    font-size: var(--text-sm);
  }
}
