:root {
  --mobile-breakpoint: 1024px;
  --background-color: #0d0f12;
  --color-white: #f8fafc;
}

body {
  font-family: var(--font-open-sans);
  background-color: var(--background-color);
}

* {
  color: var(--color-white);
}
