:root {
  --background-color: #0d0f12;
  --color-white: #f8fafc;
  --color-neutral-200: #e2e8f0;
  --color-neutral-300: #cbd5e1;
  --color-neutral-400: #94a3b8;
  --color-primary: #0ea5e9;
  --color-primary-200: #bae6fd;
  --color-primary-400: #38bdf8;
  --color-secondary: #facc15;
  --color-secondary-400: #f4d071;
}

body {
  font-family: var(--font-open-sans);
  background-color: var(--background-color);
}

* {
  color: var(--color-white);
}

h1 {
  font-size: 2rem;
  letter-spacing: 1px;

  @media only screen and (min-width: 1024px) {
    font-size: 2.25rem;
  }
}

h2 {
  font-size: 2rem;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

h5 {
  font-size: 1rem;
  letter-spacing: 1.5px;
}

h6 {
  font-size: 0.875rem;
  letter-spacing: 1.5px;
}
