@import 'tailwindcss';

@import './typography.css';

@theme {
  --font-outfit: 'Outfit';
  --font-open-sans: 'Open Sans';
  --color-background: var(--color-zinc-950);
  --color-primary: #0ea5e9;
  --color-secondary: #facc15;
}

:root {
  /* Colors */
  --color-background: var(--color-zinc-950);
  --color-white: #f8fafc;
  --color-neutral-200: #e2e8f0;
  --color-neutral-300: #cbd5e1;
  --color-neutral-700: #16191e;
  --color-primary: #0ea5e9;
  --color-primary-200: #bae6fd;
  --color-primary-400: #38bdf8;
  --color-secondary: #facc15;
  --color-secondary-400: #f4d071;

  /* Font Sizes */
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.625rem;
}

body {
  font-family: var(--font-open-sans);
  background-color: var(--color-background);
}

* {
  color: var(--color-white);
}
