/*
Using grid template areas to define the space that elements will render in.
This is not something supported by tailwind, so manually creating the layout
in a css module here.
*/

.weatherGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'precipitation humidity'
    'hourly hourly'
    'wind sunrise-sunset'
    'daily daily'
    'daily daily';
  grid-auto-rows: 160px;
  gap: 16px;
}

@media (min-width: 1024px) {
  .weatherGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      'feels-like precipitation humidity wind sunrise-sunset'
      'hourly hourly hourly hourly hourly'
      'daily daily daily daily daily'
      'daily daily daily daily daily';
  }
}

.gridAreaPrecipitation {
  grid-area: precipitation;
}

.gridAreaHumidity {
  grid-area: humidity;
}

.gridAreaFeelsLike {
  grid-area: feels-like;
}

.gridAreaWind {
  grid-area: wind;
}

.gridAreaSunriseSunset {
  grid-area: sunrise-sunset;
}

.gridAreaHourlyForecast {
  grid-area: hourly;
}

.gridAreaDailyForecast {
  grid-area: daily;
}
