.wrapper {
  padding: 0 0 16px 0;
  width: 100%;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media only screen and (min-width: 1024px) {
    padding: 16px 0;
    grid-column: 1;
  }
}

.timeWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeLabel {
  font-size: 0.75rem;
}

.timeText {
  font-family: var(--font-outfit);
  font-size: var(--text-sm);
}

.detailsWrapper {
  padding-top: 8px;

  @media only screen and (min-width: 1024px) {
    padding-top: 24px;
  }
}
