.wrapper {
  display: none;
  height: 100%;

  @media only screen and (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.titleWrapper {
  h2 {
    font-size: var(--text-md);
  }
}
