.wrapper {
  grid-column: span 2;

  @media only screen and (min-width: 1024px) {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.hourlyList {
  display: flex;
  flex-direction: column;
}

.hourlyGraph {
  display: none;
  border: 1px solid white;

  @media only screen and (min-width: 1024px) {
    display: block;
  }
}
